body {
  text-align: center;
  background: #666666;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 110%;
}

h3 {
  font-size: 105%;
}

#header {
  background: white;
  padding: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}


#main {
  background: white;
  padding: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

